@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 25% 97%;
    --foreground: 210 10% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 17% 98%;
    --secondary-foreground: 210 10% 23%;

    --muted: 210 17% 98%;
    --muted-foreground: 210 6% 48%;

    --accent: 210 17% 98%;
    --accent-foreground: 210 10% 23%;

    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 11% 90%;
    --input: 240 11% 90%;
    --ring: 211 100% 50%;

    --radius: 0.5rem;

    --font-sans: "Inter", system-ui, sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
